.rm-c-Project {
    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        min-height: 600px;
        max-height: 800px;
        font-size: 0;

        img {
            width: 80%;
            max-width: 514px;
        }
    }

    &-content {
        overflow: hidden;
    }
}