* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 115px;
    background-color: white;

    &.index {
        justify-content: center;
    }

    &:not(.biography):not(.gh_page) {
        background: {
            image: url('../images/background-neutral-filter.jpg');
            attachment: fixed;
            size: cover;
            repeat: no-repeat;
        }
    }

    &.Biography {
        justify-content: space-around;
        align-items: center;
      }
}

a, a:visited, a:active {
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}