// Colors
$colors: (
  light: #ffffff,
  dark: #000000,
  accent: #F39200,
  attenuated: #959595,
  background: #2B2E34,
);

// Breakpoints
$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 992px,
);