.rm-c-HomeText {
    width: 100%;
    height: auto;
    max-width: 520px;
    margin: 16vh auto 21vh auto;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;

    & > img {
        display: block;
        width: 100%;
    }
}