.rm-c-Project {
    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 73vh;
        min-height: 600px;
        max-height: 800px;
        font-size: 0;

        img {
            width: 80%;
            max-width: 514px;
        }
    }

    &-content {
        overflow: hidden;
    }

    &-footer {
        &-wrapper {
            padding: 200px 0;
            text-align: center;
        }

        &-heading {
            margin-bottom: 50px;
        }

        &-ctas {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 38px;

            span {
                font-size: 16px;
                opacity: .7;
            }

            &-network {
                flex: 0 0 auto;
                display: flex;

                a {
                    flex: 0 0 auto;
                    width: 29px;
                    height: 29px;
                    font-size: 0;

                    &:not(:last-child) {
                        margin-right: 34px;
                    }

                    img {
                        display: block;
                    }
                }
            }
        }
    }


    @include mq-to(small) {
        &-footer {
            &-ctas {
                flex-direction: column;
            }
        }
    }
}