.rm-c-ProjectDetail {
    margin: 200px 0 0;
    color: color(dark);
    background-color: color(light);
    overflow: hidden;

    &-wrapper {
        align-items: center;
        padding: 50px 0 73px;
    }

    &-heading {
        margin-bottom: 66px;
        text-align: center;
    }

    &-list {
        position: relative;
        overflow: visible;

        .swiper-arrow {
            &[data-slider='prev'] {
                left: 50%;
                padding-left: var(--hspace);
                transform: translateX(-50vw);
            }

            &[data-slider='next'] {
                right: 50%;
                padding-right: var(--hspace);
                transform: translateX(50vw);
            }
        }
    }

    &-section {
        display: flex;
        align-items: center;

        $p: &;

        &:not(.swiper-slide-active) {
            pointer-events: none;
        }

        &-content {
            flex: 1 1 375px;
            transition: all .6s ease;

            // heading
            > *:first-child {
                margin-bottom: 35px;
            }
        
            #{$p}:not(.swiper-slide-active) & {
                opacity: 0;
            }
        }
    
        &-image {
            flex: 1 1 632px;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            transition: all .6s ease;

            #{$p}:not(.swiper-slide-active) & {
                opacity: 0.4;
                transform: translateX(232px);
            }
    
            &::before {
                content: '';
                display: block;
                width: 100%;
                padding-top: 63%;
                background-color: color(dark);
            }

            &-fader {
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                font-size: 17px;
                color: color(light);
                -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
                opacity: 0;
                transition: all .3s ease-in-out;

                &::after {
                    content: '+';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 26px;
                    height: 26px;
                    margin-top: 5px;
                    border: 1.5px solid color(light);
                    border-radius: 50%;
                }
            }

            @mixin hovered {
                #{$p}-image-fader {
                    opacity: 1;
                }

                &[data-popin-trigger] img {
                    opacity: .9;
                }
            }

            &:hover, &:focus {
                @include hovered;
            }

            @media (hover: none) {
                @include hovered;
            }
    
            > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: all .3s ease-in-out;
            }
        }
    }
    
    @include mq-from(medium) {
        &-section {
            &-content {
                margin-left: 40px;
            }

            &-image {
                max-width: 632px;
                margin-left: -232px;
            }
        }
    }

    
    @include mq-to(medium) {
        &-section {
            display: block;

            $p: &;
            
            &-content {
                #{$p}:not(.swiper-slide-active) & {
                    opacity: .4;
                }
            }

            &-image {
                margin-bottom: 30px;
                transform: translate(-40px);

                #{$p}:not(.swiper-slide-active) & {
                    transform: translateX(-20px);
                }
            }
        }
    }
}