.rm-c-Home {
    &-top {
        z-index: 0;
        position: relative;
        min-height: 0;
        padding: {
            top: 118px;
            bottom: 118px;
        };
        transition: all .6s ease;

        &::before {       
            content: '';     
            display: block;    
            position: absolute;
            top: calc(100% - 620px);
            right: calc(50% - 300px);
            width: 974px;
            height: 832px;
            background: {
                image: url('../images/patterns/phone.svg');
                position: center;
                size: contain;
                repeat: no-repeat;
            };
        }

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
        }

        &-logo {
            flex: 0 1 473px;

            img {
                display: block;
                width: 100%;
            }
        }

        &-shortcuts {
            flex: 0 1 232px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 0;
        }
    }

    &-featured {
        z-index: 1;
        position: relative;
    }

    
    @include mq-from(medium) {
        &-top {
            display: flex;
            align-items: center;
            min-height: 750px;
        }
    }


    @include mq-from(large) {
        &-top {
            min-height: 800px;

            &::before {
                width: 1358px;
                height: 1189px;
                top: calc(100% - 780px);
                right: calc(50% - 450px);
            }
        }
    }


    @include mq-to(small) {
        &-top {
            --hspace: 63px;

            &-wrapper {
                flex-direction: column;
                align-items: stretch;
                gap: 50px;
            }

            &-logo, &-shortcuts {
                flex: 1 1 auto;
            }

            &-shortcuts { 
                gap: 20px;
            }
        }
    }
}