.rm-c-Archive {
    &-heading {
        text-align: center;
        font-size: 0;

        img {
            display: block;
            margin: 0 auto;
            width: 273px;
            max-width: 100%;
            height: auto;
        }
    }
}