.rm-c-Biography {
    display: inline-flex;

    .rm-c-wrapper-Biography {
        max-width: 1300px;
    }

    &-elements {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .rm-c-img-profil {
        margin: -80px 100px 0 50px;
        max-width: 340px;
    }

    .rm-c-Text-biography {
        font-family: 'Bodoni MT Poster Compressed', serif;
    }

        .rm-c-Name-biography {
            font-size: 3.75rem;
            margin-top: -30px;
            margin-bottom: 0px;
        }

        .rm-c-def-biography {
            margin-top: 0px;
            border-bottom: 1px solid;
            font-size: 1.87rem;
        }

        .rm-c-Paragraph-biography {
            margin: 5px 15px 15px 15px;
            max-width: 426px;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.94rem;
        }

        .rm-c-Paragraph-biography-note {
            margin: 35px 15px 0px 15px;
            max-width: 426px;
            font-family: 'Nothing You Could Do', cursive;
            font-size: 0.94rem;
        }
}