.rm-c-ProjectMiniature {
    color: white;

    $p: &;

    &-img {
        z-index: 2;
        position: relative;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 240px;
        border: 0.60rem solid #314561;
        border-radius: 0 50px 0 50px;
        background-color: currentColor;
        box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.10);
        overflow: hidden;

        > img {
            display: block;
            max-height: 100%;
            max-width: 100%;
        }
    }

    &-desc {
        z-index: 1;
        position: relative;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 170px;
        margin: 0;
        border: 3px solid currentColor;
        border-radius: 5px;
        box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.10);

        &-name {
            color: currentColor;
            font-family: 'Montserrat', sans-serif;
            font-weight: lighter;
            font-size: 2rem;
        }
    }
    



    @media all and (min-width: 720px) {
        &-wrapper {
            display: flex;
            align-items: center;
        }


        // aligned left
        &:nth-child(odd) {
            #{$p}-desc {     
                transform: translateX(-30px);
            }
        }
    
        // aligned right
        &:nth-child(even) {
            #{$p}-wrapper {
                flex-direction: row-reverse;
            }
    
            #{$p}-desc {     
                transform: translateX(30px);
            }
        }
    }


    @media all and (max-width: 720px) {
        &-img {
            margin: 0 auto,
        }

        &-desc {
            margin-top: -40px;
        }
    }
}