.rm-c-App {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: color(light);
    background: {
        color: color(background);
        image: url('../images/patterns/texture.png');
        attachment: fixed;
        size: cover;
    };

    &-header {
        flex: 0 0 auto;
        z-index: 1;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        animation: {
            name: appearsDown;
            duration: .6s;
            delay: .5s;
            fill-mode: both;
        };
    }

    &-main, &-footer {
        z-index: 0;
        position: relative;
    }

    &-main {
        flex: 1 1 auto;
    }

    &-footer {
        flex: 0 0 auto;
    }

    
    @include mq-to(small) {
        background-image: url('../images/patterns/texture_small.png');
    }
}