.rm-c-App {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: color(light);
    background: {
        color: color(background);
        image: url($grainyTexture);
        attachment: fixed;
        size: 60px;
        repeat: repeat;
    };

    --switchVhPosition: 8vh;

    --gradient-deg: -45deg;
    --accent-gradient-color: var(--project-color, #363733);

    &::before, &::after {
        content: '';
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease;
    }

    &::before {
        background-image: linear-gradient(var(--gradient-deg), transparent 40%, color(background));
    }

    &::after {
        background-image: linear-gradient(var(--gradient-deg), var(--accent-gradient-color), transparent 70%);
        opacity: 0.7;
        mix-blend-mode: plus-lighter;

        html[data-project-updating='true'] & {
            opacity: 0;
        }
    }

    $this: &;

    &[data-popin-displayed='true'] {
        overflow: hidden;

        #{$this}-header {
            z-index: 0;
        }
    }

    &-header {
        flex: 0 0 auto;
        z-index: 2;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
    }

    &-main, &-footer { 
        position: relative;
    }

    &-main {
        z-index: 1;
        flex: 1 1 auto;
        overflow: hidden;
    }

    &-footer {
        z-index: 0;
        flex: 0 0 auto;
    }


    &.post-type-archive-project, &.single-project {
        #{$this}-header {
            position: fixed;
            width: 100%;
        }

        #{$this}-footer {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
    }

    
    @include mq-from(large) {
        &-header {
            animation: {
                name: appearsDown;
                duration: .6s;
                delay: .5s;
                fill-mode: both;
            };
        }
    }

    @include mq-to(large) {
        &.single-project {
            #{$this}-header {
                position: -webkit-sticky;
                position: sticky;
            }
        }
    }


    @media (orientation: portrait) {
        --gradient-deg: -30deg;
    }

    @include mq-to(large) {
        &::before, &::after {
            transition-duration: 0.2s;
        }
    }

    @media screen and (max-height: 757px) {
        --switchVhPosition: 4vh;
    }
}