.rm-c-Btn {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: color(light);
    background: color(accent);
    background: linear-gradient(135deg, color(accent) 50%, color(accent, 0.4) 100%);
    background-size: 200%;
    background-position: 100% 50%;
    border: none;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    transition: background .65s ease-out;

    span {
        z-index: 1;
        position: relative;
        margin: 12px 0;
        font-size: 12px;
        line-height: 16px;
        font-family: font(text);
    }

    &[data-mode='minimal'] {
        width: 50px;
        height: 50px;
        padding: 0;
        justify-content: center;
        border-radius: 50%;
        background: color(light, 0.1);
    }

    
    $neutralTransform: rotate(0deg);
    $opened1Transformed: rotate(-45deg) translate(-0.9px, 1.8px);
    $opened2Transformed: rotate(45deg) translate(-0.9px, -1.8px);

    // Arrow
    i {
        flex: 0 0 13px;
        position: relative;
        width: 13px;
        margin: 13.5px 0;

        &[data-dir='up'] {
            transform: rotate(-90deg);
        }

        &[data-dir='down'] {
            transform: rotate(90deg);
        }

        &[data-dir='prev'] {
            transform: rotate(180deg);
        }

        &, &::before, &::after {    
            display: block;        
            height: 1.9px;
            border-radius: 1px;
            background-color: color(light);
        }

        &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 6.5px;
            transition: all .2s ease;
            transform: $neutralTransform;
            animation: {
                duration: .4s;
                fill-mode: backwards;
                delay: 1s;
            };
        }

        &::before {
            animation-name: openingCollapse1;
        }

        &::after {
            animation-name: openingCollapse2;
        }

        @keyframes openingCollapse1 {
            from {
                transform: $opened1Transformed;
            }

            to {
                transform: $neutralTransform;
            }
        }

        @keyframes openingCollapse2 {
            from {
                transform: $opened2Transformed;
            }

            to {
                transform: $neutralTransform;
            }
        }
    }

    &:hover, &:focus, a:hover &, a:focus &, button:hover &, a:hover & {
        background-position: 0% 100%;
        transition-duration: .5s;
        transition-timing-function: normal;

            
        &[data-mode='minimal'] {
            background: color(light, 0.2);
        }

        i {
            &::before {
                transform: $opened1Transformed;
            }
            
            &::after {
                transform: $opened2Transformed;
            }
        }
    }
}