.rm-c-Heading {
    display: block;
    margin: 0;
    font-family: font(title);
    font-weight: 700;
    line-height: 1.1;

    &[data-lvl='1'] {
        text-align: center;
        font-size: 0;

        img {
            display: block;
            margin: 0 auto;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 90px;
            transition: all .2s ease;
        }
    }

    &[data-lvl='2'] {
        font-size: 30px;
        text-transform: uppercase;
    }

    &[data-lvl='3'] {
        font-size: 24px; // Todo: may be wrong size
    }



    @include mq-to(small) {
        &[data-lvl='1'] {
            img {
                max-height: 70px;
            }
        }
    }
}