.rm-c-Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    &-wrapper {
        padding: 40px 0;
    }

    &-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}