.rm-c-Lines {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    color: color(border);
    pointer-events: none;

    &-wrapper {
        display: flex;
        border: {
            width: 0 1px 0 1px;
            style: solid;
            color: currentColor;
        };
        opacity: 0.15;

        &.rm-u-wrapper {    
            max-width: 830px;
        }

        &::before {
            content: '';
            width: 1px;
            height: 100%;
            margin: 0 auto;
            background: currentColor;
        }
    }

    
    @include mq-to(medium) {
        display: none;
    }
}